<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/navbar.ejs') %>
    <a href="/test-mbti/first-test">
        <button>Test baru</button>
    </a>
    <a href="/test-mbti/retest">
        <button>Ulangi test anda</button>
    </a>
    <%- include('partials/foot.ejs') %>