<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/navbar.ejs') %>
    <div style="height: 24px;"></div>
    <h1>16 Tipe Kepribadian</h1>
    <div>
    <a href="/personalities/enfj"><button type="button" class="btn btn-primary btn-lg btn-block">E N F J</button></a>
    <a href="/personalities/enfp"><button type="button" class="btn btn-primary btn-lg btn-block">E N F P</button></a>
    <a href="/personalities/entj"><button type="button" class="btn btn-primary btn-lg btn-block">E N T J</button></a>
    <a href="/personalities/entp"><button type="button" class="btn btn-primary btn-lg btn-block">E N T P</button></a>
    <a href="/personalities/esfj"><button type="button" class="btn btn-primary btn-lg btn-block">E S F J</button></a>
    <a href="/personalities/esfp"><button type="button" class="btn btn-primary btn-lg btn-block">E S F P</button></a>
    <a href="/personalities/estj"><button type="button" class="btn btn-primary btn-lg btn-block">E S T J</button></a>
    <a href="/personalities/estp"><button type="button" class="btn btn-primary btn-lg btn-block">E S T P</button></a>
    <a href="/personalities/infj"><button type="button" class="btn btn-primary btn-lg btn-block">I N F J</button></a>
    <a href="/personalities/infp"><button type="button" class="btn btn-primary btn-lg btn-block">I N F P</button></a>
    <a href="/personalities/intj"><button type="button" class="btn btn-primary btn-lg btn-block">I N T J</button></a>
    <a href="/personalities/intp"><button type="button" class="btn btn-primary btn-lg btn-block">I N T P</button></a>
    <a href="/personalities/isfj"><button type="button" class="btn btn-primary btn-lg btn-block">I S F J</button></a>
    <a href="/personalities/isfp"><button type="button" class="btn btn-primary btn-lg btn-block">I S F P</button></a>
    <a href="/personalities/istj"><button type="button" class="btn btn-primary btn-lg btn-block">I S T J</button></a>
    <a href="/personalities/istp"><button type="button" class="btn btn-primary btn-lg btn-block">I S T P</button></a>
    </div>
    <%- include('partials/foot.ejs') %>

    <style>
    h1 {
      text-align: center;  
    }
    </style>