<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/navbar.ejs') %>
    <h1>16 Tipe Kepribadian</h1>
    <a href="/personalities/enfj">ENFJ</a> <br>
    <a href="/personalities/enfp">ENFP</a> <br>
    <a href="/personalities/entj">ENTJ</a> <br>
    <a href="/personalities/entp">ENTP</a> <br>
    <a href="/personalities/esfj">ESFJ</a> <br>
    <a href="/personalities/esfp">ESFP</a> <br>
    <a href="/personalities/estj">ESTJ</a> <br>
    <a href="/personalities/estp">ESTP</a> <br>
    <a href="/personalities/infj">INFJ</a> <br>
    <a href="/personalities/infp">INFP</a> <br>
    <a href="/personalities/intj">INTJ</a> <br>
    <a href="/personalities/intp">INTP</a> <br>
    <a href="/personalities/isfj">ISFJ</a> <br>
    <a href="/personalities/isfp">ISFP</a> <br>
    <a href="/personalities/istj">ISTJ</a> <br>
    <a href="/personalities/istp">ISTP</a> <br>
    <%- include('partials/foot.ejs') %>