<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/navbar.ejs') %>
    <img src="https://docplayer.info/docs-images/101/150222777/images/6-2.jpg" alt="" class="home-img1">
    <div class="jumbotron" style="margin-top: 24px;">
            <h1 class="display-3">Test Kepribadian MBTI</h1>
            <p>Tes MBTI ini bertujuan untuk menemukan diri dalam 16 tipe kepribadian MBTI. 
                    Kenali lebih jauh dirimu untuk berkembang setidaknya satu persen setiap harinya!</p>
            <hr class="my-4">
            <p>Klik Start Test jika ingin mulai ya.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/test-mbti" role="button">Start Test</a>
            </p>
          </div>
    
    <div class="rule-box">
        
        
      </div>
    </div>
    
    <%- include('partials/foot.ejs') %>
    <style>
         body{
             background-color: white;
         }
        .header-text {
        margin-left: 32px;    
        margin-top: 24px;
        }
        .rule-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .home-img1 {
            width: 700px;
            margin-bottom: 24px;
            justify-content: center;
            display: flex;
           
        }
       
        
    </style>
    



    

     