<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>ENFJ</h1>

    <p><i>"Setiap hal yang anda lakukan sekarang bergerak perlahan dan memengaruhi semua orang. Postur Anda dapat menerangi hati Anda atau menularkan kecemasan. Napas Anda dapat memancarkan cinta atau mengeruhkan ruangan dalam kegundahan. Lirikan Anda dapat melahirkan kesenangan. Kata-kata Anda dapat menginspirasikan kebebasan. Setiap tindakan Anda dapat membuka hati dan pikiran"</i></p>
    <%- include('../partials/foot.ejs') %>