<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container1">
            <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#home">Penjelasan</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#profile">Ciri - ciri</a>
                    </li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active show" id="home">
                    <h1>ISFP</h1>
                    <h4>Intoverted Sensing Feeling Perceiving</h4>
                    <p>ISFP adalah penggemar dan teman yang baik; walaupun terkadang mereka sulit berhubungan dengan orang lain. Mereka spontan, menyenangkan dan senang berhubungan langsung dengan alam. Si Penggubah ini juga senang mengurung diri dan menikmati kesendiriannya. Mereka sensitif terhadap penderitaan orang lain. Ada sekitar 9-10% ISFP di dunia ini.</p>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <h3>Ciri - ciri</h3>
                        <p>• Berpikiran simpel & praktis, fleksibel, sensitif, ramah, tidak menonjolkan diri, rendah hati pada kemampuannya.</p>
                        <p>• Menghindari konflik, tidak memaksakan pendapat atau nilai-nilainya pada orang lain.</p>    
                        <p>• Biasanya tidak mau memimpin tetapi menjadi pengikut dan pelaksana yang setia.</p>   
                        <p>• Seringkali santai menyelesaikan sesuatu, karena sangat menikmati apa yang terjadi saat ini.</p>  
                        <p>• Menunjukkan perhatian lebih banyak melalui tindakan dibandingkan kata-kata.</p>      
                    </div>
                </div>
            </div>   
            <a href="/personalities"><button type="button" class="btn btn-outline-danger">Go Back</button></a>
            <style>
            .container1{
                
                margin-right: 800px;
            }
            </style>
    <%- include('../partials/foot.ejs') %>